<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs"
     xmlns:ui="http://wixtoolset.org/schemas/v4/wxs/ui">
    <Package InstallerVersion="500"
             Language="1033"
             Manufacturer="Jon Thysell"
             Name="Chordious"
             UpgradeCode="a49f8d4a-4e86-490d-8b31-282e26ad5ccf"
             Version="!(bind.FileVersion.ChordiousWpfApp)">
        <MajorUpgrade AllowSameVersionUpgrades="yes"
                      DowngradeErrorMessage="A newer version of Chordious is already installed." /><?if $(var.Configuration) = "Release"?>
        <MediaTemplate CompressionLevel="high"
                       EmbedCab="yes" /><?elseif $(var.Configuration) = "Debug"?>
        <MediaTemplate CompressionLevel="none"
                       EmbedCab="yes" /><?endif?>
        <Feature Id="ChordiousWpfFeature"
                 Level="1"
                 Title="Chordious">
            <ComponentGroupRef Id="ChordiousPublishOut" />
            <ComponentRef Id="ChordiousWpfApp" />
        </Feature>
        <Icon Id="icon.ico"
              SourceFile="..\Chordious.WPF\Resources\chordious.ico" />
        <Property Id="ARPPRODUCTICON"
                  Value="icon.ico" />
        <Property Id="ARPHELPLINK"
                  Value="http://chordious.com" />
        <Property Id="ARPURLINFOABOUT"
                  Value="http://chordious.com" />
        <Property Id="WixShellExecTarget"
                  Value="[#ChordiousWpfApp]" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
                  Value="Start Chordious" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX"
                  Value="1" />
        <CustomAction Directory="INSTALLFOLDER"
                      ExeCommand="[#ChordiousWpfApp]"
                      Id="LaunchApplication"
                      Impersonate="yes"
                      Return="asyncNoWait" />
        <UI>
            <ui:WixUI Id="WixUI_Minimal" />
            <Publish Condition="WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed"
                     Control="Finish"
                     Dialog="ExitDialog"
                     Event="DoAction"
                     Value="LaunchApplication" />
        </UI>
        <InstallExecuteSequence>
            <Custom Action="LaunchApplication"
                    After="InstallFinalize"
                    Condition="UILevel = 3 and NOT Installed" />
        </InstallExecuteSequence>
        <WixVariable Id="WixUILicenseRtf"
                     Value="license.rtf" />
        <Property Id="DISABLEADVTSHORTCUTS"
                  Value="1" />
    </Package>
    <Fragment>
        <?if $(var.Platform) = "x86"?>
        <StandardDirectory Id="ProgramFilesFolder">
        <?else?>
        <StandardDirectory Id="ProgramFiles64Folder">
        <?endif?>
            <Directory Id="INSTALLFOLDER"
                        Name="Chordious 2">
                <Component Id="ChordiousWpfApp">
                    <File Id="ChordiousWpfApp"
                            KeyPath="yes"
                            Source="$(var.PublishPath)\Chordious.WPF.exe">
                        <Shortcut Advertise="yes"
                                    Description="Fretboard diagram generator."
                                    Directory="ProgramMenuFolder"
                                    Id="ChordiousWpfAppShortcut"
                                    Name="Chordious"
                                    WorkingDirectory="INSTALLFOLDER" />
                    </File>
                    <File Id="ChordiousWpfReadme"
                            Source="..\..\README.md" />
                    <File Id="ChordiousWpfLicense"
                            Name="License.txt"
                            Source="..\..\scripts\Licenses.txt" />
                    <RemoveFolder Id="ApplicationProgramsFolder"
                                    On="uninstall" />
                </Component>
            </Directory>
        <?if $(var.Platform) = "x86"?>
        </StandardDirectory>
        <?else?>
        </StandardDirectory>
        <?endif?>
        <StandardDirectory Id="ProgramMenuFolder" />
    </Fragment>
</Wix>
