<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:netfx="http://schemas.microsoft.com/wix/NetFxExtension">
    <Product Id="*"
             Language="1033"
             Manufacturer="Jon Thysell"
             Name="Chordious"
             UpgradeCode="a49f8d4a-4e86-490d-8b31-282e26ad5ccf"
             Version="2.0.2">
        <Package Compressed="yes"
                 InstallScope="perMachine"
                 InstallerVersion="200"
                 Languages="1033" />
        <MajorUpgrade AllowSameVersionUpgrades="yes"
                      DowngradeErrorMessage="A newer version of Chordious is already installed." />
        <?if $(var.Chordious.WPF.Configuration) = "Release"?>
        <MediaTemplate CompressionLevel="high"
                       EmbedCab="yes" />
        <?elseif $(var.Chordious.WPF.Configuration) = "Debug"?>
        <MediaTemplate CompressionLevel="none"
                       EmbedCab="yes" />
        <?endif?>
        <Feature Id="ChordiousWpfFeature"
                 Level="1"
                 Title="Chordious">
            <ComponentRef Id="ChordiousWpfApp" />
            <ComponentRef Id="ChordiousCoreLib" />
            <ComponentRef Id="ChordiousCoreViewModelLib" />
            <ComponentRef Id="MvvmLib" />
            <ComponentRef Id="MvvmExtrasLib" />
            <ComponentRef Id="MvvmPlatformLib" />
            <ComponentRef Id="PracticesServiceLocationLib" />
            <ComponentRef Id="WindowsInteractivityLib" />
            <ComponentRef Id="SvgLib" />
        </Feature>
        <Icon Id="icon.ico"
              SourceFile="$(var.Chordious.WPF.ProjectDir)\Resources\chordious.ico" />
        <Property Id="ARPPRODUCTICON"
                  Value="icon.ico" />
        <Property Id="ARPHELPLINK"
                  Value="http://chordious.com" />
        <Property Id="ARPURLINFOABOUT"
                  Value="http://chordious.com" />
        <PropertyRef Id="NETFRAMEWORK45" />
        <Condition Message="This application requires .NET Framework 4.5. Please install the .NET Framework then run this installer again.">
<![CDATA[Installed OR NETFRAMEWORK45]]>
        </Condition>
        <Property Id="WixShellExecTarget"
                  Value="[#ChordiousWpfApp]" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOXTEXT"
                  Value="Start Chordious" />
        <Property Id="WIXUI_EXITDIALOGOPTIONALCHECKBOX"
                  Value="1" />
        <CustomAction Directory="INSTALLFOLDER"
                      ExeCommand="[#ChordiousWpfApp]"
                      Id="LaunchApplication"
                      Impersonate="yes"
                      Return="asyncNoWait" />
        <UI>
            <UIRef Id="WixUI_Minimal" />
            <Publish Control="Finish"
                     Dialog="ExitDialog"
                     Event="DoAction"
                     Value="LaunchApplication">WIXUI_EXITDIALOGOPTIONALCHECKBOX = 1 and NOT Installed</Publish>
        </UI>
        <InstallExecuteSequence>
            <Custom Action="LaunchApplication"
                    After="InstallFinalize">UILevel = 3 and NOT Installed</Custom>
        </InstallExecuteSequence>
        <WixVariable Id="WixUILicenseRtf"
                     Value="license.rtf" />
    </Product>
    <Fragment>
        <Directory Id="TARGETDIR"
                   Name="SourceDir">
            <Directory Id="ProgramFilesFolder">
                <Directory Id="INSTALLFOLDER"
                           Name="Chordious 2">
                    <Component Id="ChordiousWpfApp">
                        <File Id="ChordiousWpfApp"
                              KeyPath="yes"
                              Source="$(var.Chordious.WPF.TargetPath)">
                            <Shortcut Advertise="yes"
                                      Description="Freboart diagram generator."
                                      Directory="ProgramMenuFolder"
                                      Icon="icon.ico"
                                      Id="ChordiousWpfAppShortcut"
                                      Name="Chordious"
                                      WorkingDirectory="INSTALLFOLDER" />
                        </File>
                        <File Id="ChordiousWpfCoreConfig"
                              Source="$(var.Chordious.WPF.TargetDir)\Chordious.Core.xml" />
                        <File Id="ChordiousWpfAppConfig"
                              Source="$(var.Chordious.WPF.TargetDir)\Chordious.WPF.xml" />
                        <File Id="ChordiousWpfReadme"
                              Name="Readme.txt"
                              Source="$(var.SolutionDir)\README.md" />
                        <File Id="ChordiousWpfLicense"
                              Name="License.txt"
                              Source="$(var.SolutionDir)\LICENSE.md" />
                        <RemoveFolder Id="ApplicationProgramsFolder"
                                      On="uninstall" />
                    </Component>
                    <Component Id="ChordiousCoreLib">
                        <File Id="ChordiousCoreLib"
                              Source="$(var.Chordious.Core.TargetPath)" />
                    </Component>
                    <Component Id="ChordiousCoreViewModelLib">
                        <File Id="ChordiousCoreViewModelLib"
                              Source="$(var.Chordious.Core.ViewModel.TargetPath)" />
                    </Component>
                    <Component Id="MvvmLib">
                        <File Id="MvvmLib"
                              KeyPath="yes"
                              Source="$(var.Chordious.WPF.TargetDir)\GalaSoft.MvvmLight.dll" />
                        <File Id="MvvmLightLicense"
                              Name="MVVM Light License.txt"
                              Source="$(var.SolutionDir)\External\MVVMLight\LICENSE.md" />
                    </Component>
                    <Component Id="MvvmExtrasLib">
                        <File Id="MvvmExtrasLib"
                              Source="$(var.Chordious.WPF.TargetDir)\GalaSoft.MvvmLight.Extras.dll" />
                    </Component>
                    <Component Id="MvvmPlatformLib">
                        <File Id="MvvmPlatformLib"
                              Source="$(var.Chordious.WPF.TargetDir)\GalaSoft.MvvmLight.Platform.dll" />
                    </Component>
                    <Component Id="PracticesServiceLocationLib">
                        <File Id="PracticesServiceLocationLib"
                              Source="$(var.Chordious.WPF.TargetDir)\Microsoft.Practices.ServiceLocation.dll" />
                    </Component>
                    <Component Id="WindowsInteractivityLib">
                        <File Id="WindowsInteractivityLib"
                              Source="$(var.Chordious.WPF.TargetDir)\System.Windows.Interactivity.dll" />
                    </Component>
                    <Component Id="SvgLib">
                        <File Id="SvgLib"
                              KeyPath="yes"
                              Source="$(var.Chordious.WPF.TargetDir)\Svg.dll" />
                        <File Id="SvgLicense"
                              Name="SVG.NET License.txt"
                              Source="$(var.SolutionDir)\External\SVG.NET\LICENSE.md" />
                        <File Id="SvgReadme"
                              Name="SVG.NET Readme.txt"
                              Source="$(var.SolutionDir)\External\SVG.NET\README.md" />
                    </Component>
                </Directory>
            </Directory>
            <Directory Id="ProgramMenuFolder" />
        </Directory>
    </Fragment>
</Wix>
