name: CI Build

env:
  BuildDir: ./bld
  ScriptDir: ./scripts
  SrcDir: ./src
  Product: Chordious
  BinDir: ./src/Chordious.Core/bin
  SolutionFile: ./src/Chordious.sln

on:
  push:
    branches:
      - main
      - 2.6-official

defaults:
  run:
    shell: pwsh

jobs:
  ci_build_and_test:
    name: CI Build and Test
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build Solution
      run: dotnet build --configuration ${{ matrix.configuration }} ${{ env.SolutionFile }}

    - name: Test Solution
      run: dotnet test --configuration ${{ matrix.configuration }} --no-build ${{ env.SolutionFile }}

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name:  ${{ matrix.configuration }}Binaries
        path: ${{ env.BinDir }}/${{ matrix.configuration }}/net8.0

  ci_build_windows:
    name: CI Windows Build
    runs-on: windows-latest
    needs: ci_build_and_test
    strategy:
      matrix:
        target: [Unpacked, WinX86, WinX64, WinArm64]
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build ${{ matrix.target }}
      run: ${{ env.ScriptDir }}/Build${{ matrix.target }}.ps1

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.Product }}.${{ matrix.target }}
        path: ${{ env.BuildDir }}/${{ env.Product }}.${{ matrix.target }}.zip

  ci_build_windows_setup:
    name: CI Windows Setup Build
    runs-on: windows-latest
    needs: ci_build_and_test
    strategy:
      matrix:
        target: [WinX86.Setup, WinX64.Setup, WinArm64.Setup]
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build ${{ matrix.target }}
      run: ${{ env.ScriptDir }}/Build${{ matrix.target }}.ps1

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.Product }}.${{ matrix.target }}
        path: ${{ env.BuildDir }}/${{ env.Product }}.${{ matrix.target }}/${{ env.Product }}.${{ matrix.target }}.msi
    
  ci_build_windows_winstore:
    name: CI Windows WinStore Build
    runs-on: windows-latest
    needs: ci_build_and_test
    env:
      CertFile: src\Chordious.WinStore\Chordious.WinStore_TemporaryKey.pfx
    strategy:
      matrix:
        target: [WinStore]
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Create Code Signing Certificate
      run: |
        Set-Content -Path cert.txt -Value '${{ secrets.WINSTORE_PFX }}'
        certutil -decode cert.txt ${{ env.CertFile }}
        Remove-Item cert.txt

    - name: Build ${{ matrix.target }}
      run: ${{ env.ScriptDir }}/Build${{ matrix.target }}.ps1
    
    - name: Cleanup Code Signing Certificate
      if: always()
      run: |
        Remove-Item ${{ env.CertFile }}

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name: ${{ env.Product }}.${{ matrix.target }}
        path: ${{ env.BuildDir }}/${{ env.Product }}.${{ matrix.target }}
    
  # ci_build_linux:
  #   name: CI Linux Build
  #   runs-on: ubuntu-latest
  #   needs: ci_build_and_test
  #   strategy:
  #     matrix:
  #       target: [Linux]
  #   steps:
  #   - name: Setup .NET
  #     uses: actions/setup-dotnet@v4
  #     with:
  #       dotnet-version: '8.0.x'

  #   - name: Checkout
  #     uses: actions/checkout@v4

  #   - name: Build ${{ matrix.target }}
  #     run: ${{ env.ScriptDir }}/Build${{ matrix.target }}.ps1

  #   - name: Upload Build Artifacts
  #     uses: actions/upload-artifact@v4
  #     with:
  #       name: ${{ env.Product }}.${{ matrix.target }}
  #       path: ${{ env.BuildDir }}/${{ env.Product }}.${{ matrix.target }}.tar.gz
  
  # ci_build_macos:
  #   name: CI MacOS Build
  #   runs-on: macOS-latest
  #   needs: ci_build_and_test
  #   strategy:
  #     matrix:
  #       target: [MacOS]
  #   steps:
  #   - name: Setup .NET
  #     uses: actions/setup-dotnet@v4
  #     with:
  #       dotnet-version: '8.0.x'

  #   - name: Checkout
  #     uses: actions/checkout@v4

  #   - name: Build ${{ matrix.target }}
  #     run: ${{ env.ScriptDir }}/Build${{ matrix.target }}.ps1

  #   - name: Upload Build Artifacts
  #     uses: actions/upload-artifact@v4
  #     with:
  #       name: ${{ env.Product }}.${{ matrix.target }}
  #       path: ${{ env.BuildDir }}/${{ env.Product }}.${{ matrix.target }}.tar.gz
