name: Pull Request Validation

env:
  BinDir: ./src/Chordious.WPF/bin
  SolutionFile: ./src/Chordious.sln

on:
  pull_request:
    branches:
      - main
      - 2.6-official

jobs:
  pr_build_and_test:
    name: PR Build and Test
    runs-on: windows-latest
    strategy:
      matrix:
        configuration: [Debug, Release]
    steps:
    - name: Setup .NET
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: '8.0.x'

    - name: Checkout
      uses: actions/checkout@v4

    - name: Build Solution
      run: dotnet build --configuration ${{ matrix.configuration }} ${{ env.SolutionFile }}

    - name: Test Solution
      run: dotnet test --configuration ${{ matrix.configuration }} --no-build ${{ env.SolutionFile }}

    - name: Upload Build Artifacts
      uses: actions/upload-artifact@v4
      with:
        name:  ${{ matrix.configuration }}Binaries
        path: ${{ env.BinDir }}/${{ matrix.configuration }}/net8.0
